*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: #999;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

body article {
    max-width: 300px;
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 3rem rgba(0,0,0,0.2);
}

body article a {
    margin-left: auto;
}

body article img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 99999rem;
    margin-top: auto;
}

body article h2 {
    margin: 1rem 0 .25rem 0;
}

body article a.btn {
    background: #222;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: auto;
    border-radius: 999rem;
}
